 ########
## Code ##
 ########
## Environment Setup ##
# Ensure backups of local user's bash file(s) aren't included.
/src/environmentSetup/*-homeBackUp-*

 ###########
## Testing ##
 ###########
coverage/
report/

 #########
## Other ##
 #########
# **Note**: You need to have an extremely compelling reason to add something here...
tmp.sh

